<h1>Edit Song</h1>

<% if @song.errors.any? %>
  <div>
    <h2>Errors:</h2>
    <ul>
      <% @song.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/songs/<%= @song.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    Song Title:
    <input type="text" class="form-control" name="song_title" value="<%= @song.song_title %>">
  </div>
  <div class="form-group">
    Artist:
    <input type="text" class="form-control" name="artist" value="<%= @song.artist %>">
  </div>
  <div class="form-group">
    Album:
    <input type="text" class="form-control" name="album" value="<%= @song.album %>">
  </div>
  <div class="form-group">
    Record Label:
    <input type="text" class="form-control" name="record_label" value="<%= @song.record_label %>">
  </div>
  <div class="form-group">
    <select name="episode_id">
        <option>No Episode</option>
        <% @episodes.each do |episode| %>
          <% if episode.id == @song.episode_ids %>
            <% selected = "selected" %>
          <% else %>
            <% selected = "" %>
          <% end %>
          <option value="<%= episode.id %>">
            <%= episode.date %>: <%= episode.title %>
          </option>
        <% end %>
    </select>
  </div>
  <div class="form-group">
    <input type="submit" value="Edit Song" class="btn btn-default">
  </div>

</form>
