<h1><%= @song.song_title %></h1>

<p>Artist:<%= @song.artist %></p>
<p>Album:<%= @song.album %></p>
<p>Record Label:<%= @song.record_label %></p>

<p>Episode(s):<%= @song.episodes %></p>

<p><a href="/songs/<%= @song.id %>/edit">Edit Song</a></p>
<p><a href="/songs">Return to All Songs</a></p>