<h1><%= @song.song_title %></h1>

<table class="table">
	<tbody class="table-responsive">
		<tr>
			<th>Artist</th>
			<th>Album</th>
			<th>Record Label</th>
		</tr>
		<tr>
			<td><%= @song.artist %></td>
			<td><%= @song.album %></td>
			<td><%= @song.record_label %></td>
	</tbody>
</table>

<table>
<th>Episode(s)</th>
<% @song.episodes.each do |e| %>
  <tr>
    <td>
      <%= e.date %>
    </td>
    <td>
    	<% e.title %>
    </td>
  </tr>
<% end %>
</table>

<p><a href="/songs/<%= @song.id %>/edit">Edit Song</a></p>
<p><a href="/songs">Return to All Songs</a></p>

